.tableCont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thead {
  padding: 10px 10px;

  border-radius: 4px;
  background: #f2f2f2;
}

.headingText {
  color: #4d4d4d;
  text-align: right;
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.txt,
.txt2,
.txt3 {
  text-align: right;
  font-family: Galano Grotesque;
  font-size: 14px;
  font-style: normal;
  line-height: 20px; /* 142.857% */
}
.txt {
  color: #4d4d4d;
  font-weight: 400;
}
.txt2 {
  color: #146eb4;
  font-weight: 500;
}
.txt3 {
  color: #1a181e;
  font-weight: 400;
}
.tr {
  height: 10px;
  border: 2px solid pink;
}
